.videos{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}
.vid{
    object-fit: contain;
}