.miga{
    background-color: #EDEDED;
    padding: 15px;
    color: black !important;
}
.cont_print{
    background-color: #EDEDED;
    width: 100%;
    display: flex;
    justify-content:  center;
    height: 400px;
    padding-bottom: 20px;
}
.cont_print .cont_info{
    background-color: white;
    width: 80%;
    height: 100%;
    display: flex;
    
    
}
.cont_print .cont_info .info{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
}
.form h1{
    margin: 0px;
    font-size: 1.5em;
    text-align: center;
}

